{% load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mia Filić">
    <meta http-equiv="Content-Security-Policy" content="connect-src 'self' wss://echo.websocket.org/ https: file:">

    <link href="{% static 'briscola/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'briscola/css/business-casual.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">


    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->


  </head>

  <body>
    <header class="nav-down" id = "headerID">
      {% block contentUp %}{% endblock %}

      <nav id="list1" class="navbar navbar-default" role="navigation">
        <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="{% url 'index' %}">Business Casual</a>
            </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
           {% if user.is_authenticated %}
           <li class="nav-item"><a href="{% url 'index' %}">Main</a></li>
           <li class="nav-item"><a href="{% url 'play' %}" id="playLink">Play</a></li>
            <!--About the project__ at the end can be as
          well the link to git source code.-->

            <li class="nav-item"><a href="{% url 'moreAboutBriscola' %}">More</a></li>
            <li class="nav-item"><a href="{% url 'comments' %}">Comments</a></li>
            <li class="logoutLink nav-item"><a href="{% url 'logout' %}"><span id="user">{{ user }}</span>
              , logout?</a></li>
           {% else %}
           <li class="loginLink nav-item"><a href="{% url 'index' %}#loginRegister">{% block linkName %}{% endblock %}</a></li>
           <li class="nav-item"><a href="{% url 'index' %}">Main</a></li>
           <li id="proba" class="nav-item"><a href="{% url 'howToPlay' %}">Rules</a></li>
           <li class="nav-item"><a href="{% url 'moreAboutBriscola' %}">More</a></li>
           <li class="nav-item"><a href="{% url 'comments' %}">Comments</a></li>
           {% endif %}

         </ul>
       </div>
      </nav>
    </header>
    <main>
      <div class="container">

        <div class="history" id="history">
          {% block content %}{% endblock %}
      </div>
    </div>
    </main>
    <footer>

    </footer>

  </body>
  <!-- jQuery -->
  <script src="{% static 'briscola/js/jquery.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'briscola/js/bootstrap.min.js' %}"></script>
  <!--custom JS removed.->
  <!--script type = "text/javaScript" src = "{% static 'briscola/javaScript/main.js' %}"></script -->
</html>
