{% extends "briscola/template.html" %}
{% load static %}

{% block additionalLoad %}
  <script type = "text/javaScript" src = "{% static 'briscola/javaScript/logout.min.js' %}">
  </script>
{% endblock %}

{% block body %}
    <header class="nav-down" id = "headerID">
      {% block contentUp %}{% endblock %}

      <nav id="list1" class="navbar navbar-default" role="navigation">
        <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="{% url 'index' %}">Business Casual</a>
            </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
           {% if user.is_authenticated %}
           <li class="nav-item"><a href="{% url 'index' %}">Main</a></li>
           <li class="nav-item"><a href="{% url 'play' %}" id="playLink">Play</a></li>
            <!--About the project__ at the end can be as
          well the link to git source code.-->
            <li id="proba" class="nav-item"><a href="{% url 'howToPlay' %}">Rules</a></li>
            <li class="nav-item"><a href="{% url 'moreAboutBriscola' %}">More</a></li>
            <li class="nav-item"><a href="{% url 'comments' %}">Comments</a></li>
            <li class="logoutLink nav-item"><a href="{% url 'logout' %}"><span id="user">{{ user }}</span>
              , logout?</a></li>
           {% else %}
           <li class="loginLink nav-item"><a href="{% url 'index' %}#loginRegister">{% block linkName %}Login & play{% endblock %}</a></li>
           <li class="nav-item"><a href="{% url 'index' %}">Main</a></li>
           <li id="proba" class="nav-item"><a href="{% url 'howToPlay' %}">Rules</a></li>
           <li class="nav-item"><a href="{% url 'moreAboutBriscola' %}">More</a></li>
           <li class="nav-item"><a href="{% url 'comments' %}">Comments</a></li>
           {% endif %}

         </ul>
       </div>
      </nav>
    </header>
    <main>
      <div class="container">

        <div class="history" id="history">
          {% block content %}{% endblock %}
      </div>
    </div>
    </main>
    <footer>

    </footer>
{% endblock %}
