{% extends "briscola/indexTemplate.html" %}
{% load static %}

{% load app_filters %}

{% block content %}
    <div id="popup1 row" class="overlay">
        <div class="popup box">
          <div class="col-lg-4 text-center">
            <h2>Game over!</h2>
            <a class="close" href="{% url 'index' %}">&times;</a>

            <div class="content">
              <p>Winner is <span id="winner">{{ winner }}</span>.</p>

            </div>
          </div>
        </div>
    </div>
{% endblock %}
