/******************************** ZAJEDNICKO *********************************/
* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f5f0;
  font: 95% Arial, Helvetica, sans-serif;
}

body header{
  width: 100%;
  max-height: 10%; /**It is just menu*/
  clear:both;

}

body {
  margin: 5%;
}

body {
  background: url(../media/BriskolaassesSTILISH.jpg) no-repeat;
  background-size: cover;
}
/*******************************************************/

img#upperMain {
    height: auto;
    width: 100%;
    width: auto\9; /* ie8 */
    /*border-radius: 25px;
    border: .5px solid #303336;*/
    opacity: 0.8;

}

.videocontainer{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/*.image:hover {
  -webkit-transform:scale(1.2);
          transform:scale(1.2);
}
.image {
  -webkit-transition: all 0.7s ease;
          transition: all 0.7s ease;
}*/

/* Menu*/
#list1 {
  background-color: #000000;
  clear:both; /**clear the floating things.*/

  border: none;
  vertical-align: top;
  z-index: 2;
}

#list1 ul {
  width: 100%;
  list-style:none;
  text-align:center;
  border-bottom:0.1em solid #eee;
  padding:1em 0;

}
#list1 ul li {
  display:inline;
  text-transform:uppercase;
  letter-spacing:0.2em;

  padding:0 1%;
}

#list1 ul li a {
  text-decoration:none;
  font-size: none;
  font-size:calc(3% + 2vw);
  color:#eee;
}

#list1 ul li.logoutLink a{
  text-align: right;
  text-decoration:none;
  font-size: none;
  font-size:calc(3% + 1.7vw);
  letter-spacing:0.1em;
  color:#ebcdaa;
}

#list1 ul li a:hover {
  text-decoration:underline;
}

selection.loginRegister, article.howToPlay{
  width: 100%;
  height: auto; /**Preserves the aspect ration :D*/
}

.loginRegister selection{
  max-width: 40%;
  min-width: 30%;
  width: 40%;
  max-height: 50%;
  width: auto\9; /* ie8 */
  height: auto;
}

.howToPlay selection{
  max-width: 49%;
  width: 49%;
  max-height: 50%;
  width: auto\9; /* ie8 */
  height: auto;

}

/** FORM STYLE *******************************/
.loginRegisterSelection{
    font-size: none;
    font-size:calc(3% + 1.75vw);
    max-width: 400px;
    margin: 1.5% auto;
    padding: 2.5%;
    background: #F7F7F7;
}

.loginRegisterSelection input[type="text"],
.loginRegisterSelection input[type="password"],
.loginRegisterSelection input[type="checkbox"],
.loginRegisterSelection input[type="email"],
.loginRegisterSelection textarea,
.loginRegisterSelection select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    font-size: none;
    font-size:calc(3% + 1.75vw);
}
.loginRegisterSelection input[type="text"]:focus,
.loginRegisterSelection input[type="password"]:focus,
.loginRegisterSelection input[type="checkbox"]:focus,
.loginRegisterSelection input[type="email"]:focus,
.loginRegisterSelection textarea:focus,
.loginRegisterSelection select:focus
{
    box-shadow: 0 0 1% #43D1AF;
    padding: 3%;
    border: 0.1% solid #43D1AF;
}

.loginRegisterSelection button{
    font-size: none;
    font-size:calc(3% + 1.75vw);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #5F9EA0;
    border-bottom: 0.35% solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.loginRegisterSelection button:hover{
    background: #2F4F4F;
}

.psw{
  font-size: none;
  font-size:calc(3% + 1.75vw);
}

.psw a{
  text-decoration: none;
  color: #2F4F4F;
}

.psw a:hover{
  text-decoration:underline;
}

/** ******** */

.howToPlay h3{
  clear: both;
  font-size: none;
  font-size:calc(3% + 3vw);
}

selection.right{
  display: inline-block;
  float:right;
  clear: right;
}

selection.left{
  display: inline-block;
  float:left;
  clear: left;
}

.howToPlay selection.video #headerVideo,
.howToPlay selection.picture img, #howToPlayImage
{
  width: 100%;
  height: auto;
  width: auto\9;
}

selection.text ol, ul{
  display: inline-block;
  list-style-position: inside;
}

selection.text{
  font-size: none;
  font-size:calc(3% + 1.75vw);
}

/**points of the cards list*/
ul#cardPoints {
  margin-top: 0;
}

/**Make the header disapear when scrolling*/
body{
  padding-top: 5%; /**Set to correct--*/
}

header{
  max-height: 10%;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.nav-up{
  top: -10%;
}
