/******************************** ZAJEDNICKO *********************************/
* {
  margin: 0;
  padding: 0;
}

body{
  font: 95% Arial, Helvetica, sans-serif;
  background-color: #E7E7E7;
  background-size: contain;
  opacity: 0.3%;
}

body header{
  width: 100%;
  max-height: 10%; /**It is just menu*/
  clear:both;

}

body {
  margin: 5%;
}
/*******************************************************/

img#upperMain {
    height: auto;
    width: 100%;
    width: auto\9; /* ie8 */
    /*border-radius: 25px;
    border: .5px solid #303336;*/
    opacity: 1;

}

.videocontainer{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/*.image:hover {
  -webkit-transform:scale(1.2);
          transform:scale(1.2);
}
.image {
  -webkit-transition: all 0.7s ease;
          transition: all 0.7s ease;
}*/

/* Menu*/
#list1 {
  background-color: #000000;
  clear:both; /**clear the floating things.*/

  border: none;
  vertical-align: top;
  z-index: 2;
}

#list1 ul {
  width: 100%;
  list-style:none;
  text-align:center;
  border-bottom:calc(1% + 1vw); solid #eee;
  padding:calc(0.5% + 1vw); 0;

}
#list1 ul li {
  display:inline;
  text-transform:uppercase;
  letter-spacing:calc(3% + 2vw);;

  padding:0 1%;
}

#list1 ul li a {
  text-decoration:none;
  font-size: none;
  font-size:calc(3% + 2vw);
  color:#eee;
}

#list1 ul li.logoutLink a, #list1 ul li.loginLink a{
  text-align: right;
  text-decoration:none;
  font-size: none;
  font-size:calc(3% + 1.7vw);
  letter-spacing:0.1em;
  color:#ebcdaa;
}

#list1 ul li a:hover {
  text-decoration:underline;
}
/*****************************************************************************/
.loginCheck {
  position: absolute;
	top: -9999px;
	left: -9999px;
}

div.loginRegister, article.howToPlay{
  width: 100%;
  height: auto; /**Preserves the aspect ration :D*/
}

div.loginRegister{
  display: flex;
  flex-flow: row;
}


.loginRegister selection{
  max-width: 40%;
  min-width: 30%;
  width: 40%;
  max-height: 50%;
  width: auto\9; /* ie8 */
  height: auto;
}

/*.howToPlay selection{
  max-width: 49%;
  width: 49%;
  max-height: 50%;
  width: auto\9; /* ie8 */
  /*height: auto;

}
FLex handle this, so this is ok :D
*/

/** FORM STYLE *******************************/
.loginRegisterSelection{
    font-size: none;
    font-size:calc(3% + 1.75vw);
    max-width: 400px;
    margin: 1.5% auto;
    padding: 2.5%;
    background: #F7F7F7;
}

.loginRegisterSelection input[type="text"],
.loginRegisterSelection input[type="password"],
.loginRegisterSelection input[type="checkbox"],
.loginRegisterSelection input[type="email"],
.loginRegisterSelection textarea,
.loginRegisterSelection select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    font-size: none;
    font-size:calc(3% + 1.75vw);
}
.loginRegisterSelection input[type="text"]:focus,
.loginRegisterSelection input[type="password"]:focus,
.loginRegisterSelection input[type="checkbox"]:focus,
.loginRegisterSelection input[type="email"]:focus,
.loginRegisterSelection textarea:focus,
.loginRegisterSelection select:focus
{
    box-shadow: 0 0 1px #43D1AF;
    padding: 3%;
    border: 0.1% solid #43D1AF;
}

.loginRegisterSelection button{
    font-size: none;
    font-size:calc(3% + 1.75vw);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #5F9EA0;
    border-bottom: 0.35% solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.loginRegisterSelection button:hover{
    background: #2F4F4F;
}

.psw{
  font-size: none;
  font-size:calc(3% + 1.75vw);
}

.psw a{
  text-decoration: none;
  color: #2F4F4F;
}

.psw a:hover{
  text-decoration:underline;
}

/** ******** */

selection.right{
/*  display: inline-block;
  float:right;
  clear: right;*/
}

selection.left{
  /*display: inline-block;
  float:left;
  clear: left;*/
}

#headerVideo,
.howToPlay selection.picture img, #howToPlayImage
{
  width: 100%;
  height: auto;
  width: auto\9;
}

#headerVideo{
  margin-bottom: 50%;
}

selection.text ol, ul{
    display: inline-block;
  list-style-position: inside;
}

selection.text{
  font-size: none;
  font-size:calc(3% + 1.75vw);
}

/**points of the cards list*/
ul#cardPoints {
  margin-top: 0;
}

/**Make the header disapear when scrolling*/
body{
  padding-top: 5%; /**Set to correct--*/
}

header{
  max-height: 10%;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.nav-up{
  top: -10%;
}

/******************************************************************************/
/**Text decoration*/

.howToPlay h3 {
  color: #f73333;
  clear: both;
  font-family: "Great Vibes", cursive;
  font-size: calc(3% + 5vw);/**165*/
  line-height: calc(5% + 5vw);
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: calc(0.5% + 0.5vw);
  text-align: left;
  text-shadow: 0 1% 1% #fff;

  width: 85%;
  text-align: center;
  box-shadow: -10px -10px 30px #0e0e0e inset;
  border-radius: 0 30px 30px 0;
  padding: 2% 2%;
  }

span{
  color: #f70c0c;
}

article selection.text{
  background-color: #F7F7F7;
}

.howToPlay p { color: #7a7c7f;
  font-size: calc(3% + 1.75vw);
  line-height: calc(10% + 10vw);
  text-align: center;
  text-shadow: 0 calc(0.1% + 0.1vw) calc(0.1% + 0.1vw) #fff;
  padding-top: calc(1% + 1vw);
 }

.howToPlay ul, ol{
  align-items: center;
  background-color: #f9dc66;
  width: 100%;
}
.howToPlay li { font-style: italic;
  color: #768696;

  font-size: calc(3% + 1.5vw);
  margin-top: calc(3% + 1.5vw);
  margin-left: 5%;
  text-align: center;
  text-shadow: 0 0.5px 0.5px #fff;
 }
/*********************Flex properties******************************/
body{
  display: flex;
  flex-flow: column;
  margin-bottom: 0;

}

article{
  display: flex;
  flex-flow: column;
}

footer{
  width: 100%;
  border-color: #F7F7F7;

  color: inherit;
  font-size: calc(3% + 1.5vw);
  text-align: left;
  text-shadow: 0 calc(0.1% + 0.1vw) calc(0.1% + 0.1vw) #fff;
  padding-top: calc(1% + 1vw);
}

.row{
  display: flex;
  flex-flow: row;
}

.row selection{
  max-width: 49%;
  max-height: auto;
}

main{
  -webkit-box-shadow: -0.5px 0.5px 2.5px 4.5px rgba(0,0,0,0.5);
  -moz-box-shadow: -0.5px 0.5px 2.5px 4.5px rgba(0,0,0,0.5);
  box-shadow: -0.5px 0.5px 2.5px 4.5px rgba(0,0,0,0.5);
}

@media only screen
  and (max-width: 414px){ /**960 414 and bellow*/

   .row{
     flex-flow:column;
     text-align: center;
   }
   .row selection{
     margin-left: 15%;
     max-width: 70%;
     max-height: auto;
   }

   .howToPlay .row h3{
     width: 96%;
     border-radius: 0;
     margin-top: 1%;
     padding-top: 2%;
     padding-bottom: 5%;
   }

   main{
     -webkit-box-shadow: -.1px .1px .5px .9px rgba(0,0,0,0.75);
     -moz-box-shadow: -.1px .1px .5px .9px rgba(0,0,0,0.75);
     box-shadow: -.1px .1px .5px .9px rgba(0,0,0,0.75);
     background-color: #F7F7F7;
   }
   #headerVideo{
     margin-bottom: 10%;
   }

   .howToPlay .row h3{
     display: none;
   }
}

 /*********************************************************/
 /** Login appear*/
