/******************************** ZAJEDNICKO *********************************/
* {
  margin: 0;
  padding: 0;
}

body{
  font: 95% Tahoma, Arial, sans-serif;
  /*background: url(../media/BriskolaassesSTILISH.jpg);
  /*background-size: contain;*/
  background-color: #E7E7E7;
  margin: 5%;


}

body header{
  width: 100%;
  max-height: 10%; /**It is just menu*/
  clear:both;

}

/*******************************************************/

img#upperMain {
    height: auto;
    width: 100%;
    opacity: 1;
}

.videocontainer{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}


/* Menu*/
#list1 {
  background-color: #000000;
  clear:both; /**clear the floating things.*/

  border: none;
  vertical-align: top;
  z-index: 2;
}

#list1 ul {
  width: 100%;
  list-style:none;
  text-align:center;
  border-bottom:calc(1% + 1vw) solid #eee;
  padding:calc(0.5% + 1vw);

}
#list1 ul li {
  display:inline;
  text-transform:uppercase;
  letter-spacing:calc(3% + 2vw);;

  padding:0 1%;
}

#list1 ul li a {
  text-decoration:none;
  font-size:calc(3% + 2vw);
  color:#eee;
}

#list1 ul li.logoutLink a, #list1 ul li.loginLink a{
  text-align: right;
  text-decoration:none;


  font-size:calc(3% + 1.7vw);
  letter-spacing:0.1em;
  color:#ebcdaa;
}

#list1 ul li a:hover {
  text-decoration:underline;
}
/*****************************************************************************/
.loginCheck {
  position: absolute;
	top: -9999px;
	left: -9999px;
}

div.loginRegister, article.howToPlay{
  width: 100%;
  height: auto; /**Preserves the aspect ration :D*/
}

div.loginRegister{
  display: none;
}

div.loginRegister:target{
  display: flex;
  flex-flow: row;
}

.loginRegister div{
  max-width: 40%;
  min-width: 30%;
  width: 40%;
  max-height: 50%;
  height: auto;
}

/** FORM STYLE *******************************/
.loginRegisterSelection{
    font-size:calc(3% + 1.75vw);
    max-width: 400px;
    margin: 1.5% auto;
    padding: 2.5%;
    background: #F7F7F7;
}

.loginRegisterSelection input[type="text"],
.loginRegisterSelection input[type="password"],
.loginRegisterSelection input[type="checkbox"],
.loginRegisterSelection input[type="email"],
.loginRegisterSelection textarea,
.loginRegisterSelection select
{
    /*-webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;*/
    transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;

    font-size:calc(3% + 1.75vw);
}
.loginRegisterSelection input[type="text"]:focus,
.loginRegisterSelection input[type="password"]:focus,
.loginRegisterSelection input[type="checkbox"]:focus,
.loginRegisterSelection input[type="email"]:focus,
.loginRegisterSelection textarea:focus,
.loginRegisterSelection select:focus
{
    box-shadow: 0 0 1px #43D1AF;
    padding: 3%;
    border: 0.1px solid #43D1AF;
}

.loginRegisterSelection button,
.loginRegisterSelection input[type="submit"]{
    font-size:calc(3% + 1.75vw);
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #5F9EA0;
    border-bottom: 0.35px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.loginRegisterSelection button:hover, .loginRegisterSelection input[type="submit"]:hover{
    background: #2F4F4F;
}

/** ******** */

#headerVideo,
.howToPlay div.picture img, #howToPlayImage
{
  width: 100%;
  height: auto;

}

#headerVideo{
  margin-bottom: 50%;
}

div.text ol, ul{
    display: inline-block;
  list-style-position: inside;
}

/**points of the cards list*/
ul#cardPoints {
  margin-top: 0;
}

/**Make the header disapear when scrolling*/
body{
  padding-top: 5%; /**Set to correct--*/
}

header{
  max-height: 10%;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.nav-up{
  top: -10%;
}

/******************************************************************************/
/**Text decoration*/

.howToPlay h3 {
  color: #f73333;
  clear: both;
  font-family: "Great Vibes", cursive;
  font-size: calc(3% + 5vw);/**165*/
  line-height: 120%;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: calc(0.5% + 0.5vw);

  width: 65%;

  text-align: center;
  box-shadow: -10px -10px 30px #0e0e0e inset;
  border-radius: 0 30px 30px 0;
  padding: 2% 2%;
  background-color: rgb(231,231,231);
  }

span{
  color: #f70c0c;
}

article div.text{
  background-color: #F7F7F7;
}

.history > div > p.imageDesc{
  color: #565757;
  font-size: calc(2% + 1.25vw);
  line-height: 110%;
  text-align: center;
  padding-top: 0;
}

#links a{
  text-decoration: none;
  color: #9a9c9f;

}

#links li{
  text-align: left;
  margin: 0;
  padding: 2%;
}

#links ul{
  list-style-position: outside;
}

#links a, #links p, #links ul li{
  text-align: left;
}

.history div, .history img{
  max-width: 75%;
  margin-left: 12%;
}

.history p, .howToPlay p {
  color: #7a7c7f;
  font-size: calc(3% + 1.75vw);
  line-height: 120%;
  text-align: center;
  padding-top: calc(1% + 1vw);
 }

.history ul ol, .howToPlay ul, ol{
  align-items: center;
  background-color: #f9dc66;
  width: 100%;
}
.history li,.howToPlay li { font-style: italic;
  color: #768696;

  font-size: calc(3% + 1.5vw);
  margin-top: calc(3% + 1.5vw);
  margin-left: 5%;
  text-align: center;
  text-shadow: 0 0.5px 0.5px #fff;
 }
/*********************Flex properties******************************/
body{
  display: flex;
  flex-flow: column;
  margin-bottom: 0;

}

article, div .history{
  display: flex;
  flex-flow: column;
}

footer{
  width: 100%;
  border-color: #F7F7F7;

  color: inherit;
  font-size: calc(3% + 1.5vw);
  text-align: left;
  text-shadow: 0 calc(0.1% + 0.1vw) calc(0.1% + 0.1vw) #fff;
  padding-top: calc(1% + 1vw);
}

.row{
  display: flex;
  flex-flow: row;
}

.row div{
  max-width: 49%;
  max-height: initial;
}

main{
  box-shadow: -0.5px 0.5px 2.5px 4.5px rgba(0,0,0,0.5);

  background-color: rgba(247, 247, 247,0.89);
}

footer > p{
  color: #AAAAAA;
}

@media only screen
  and (max-width: 768px){ /**960 414 and bellow*/

   .row{
     flex-flow:column;
     text-align: center;
   }
   .row div, .history selection{
     margin-left: 15%;
     max-width: 70%;
     max-height: initial;
   }

   .howToPlay .row h3{
     width: 96%;
     border-radius: 0;
     margin-top: 1%;
     padding-top: 2%;
     padding-bottom: 5%;
   }

   main{
     box-shadow: -.1px .1px .5px .9px rgba(0,0,0,0.75);
     background-color: #F7F7F7;
   }
   #headerVideo{
     margin-bottom: 10%;
   }

   .howToPlay .row h3{
     display: none;
   }
}
