<!DOCTYPE HTML>
<html lang="en">
  <head >
    <meta charset="utf-8">
    <title>Card Game</title>
    <meta name="author" content="Mia FIlić">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <script type = "text/javaScript" src = "supplyFunctions.js">
    </script>
  <head/>

  <body>
    <selection class="introVideo">
      <a href="mainPage.html"><div class="videocontainer"></div></a>
      <video id = "introVideo" height="auto" controls="controls" preload="none" onended="window.location = 'mainPage.html';" autoplay>
        <source src="media/Briscola3-720p.mp4" type="video/mp4">
        I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
        <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
      </video>
    <selection/>
  </body>
</html>
